        button{
            font-size: large;
            font-weight: bolder;
        }

        .producto{
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            height: 50px;
            stroke: black;
            stroke-width: 3px;
            font-weight: bolder;
            font-size: larger;
            font-family: Arial, Helvetica, sans-serif;
        }


        .modifier{
            height: 38px;
            width: 38px;
            align-items: center;
        }

        .default{
            background-color: lightgrey;
        }
        .selected{
            background-color: lightgreen;
        }
        .outOfStock{
            background-color: lightcoral;
        }